<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title or "라이어 게임" }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
</head>
<body>
  <div class="container">
    {% block body %}{% endblock %}
    <p class="footer center">made 💗 — <span class="badge">made by. bom</span></p>
  </div>
</body>
</html>

